<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corbot</title>
    <link rel="stylesheet" href="..\static\styles\web_style.css">
</head>

<body>
    <nav>
        <div class="wrapper">
            <div class="logo">
                <a href="{{ url_for('home') }}"><img src ="..\static\images\logo.png"></a></div>
            <div class="menu">
                <ul>
                    <li><a href="{{ url_for('home') }}">HOME</a></li>
                    <li><a href="{{ url_for('chatbot') }}">CHATBOT</a></li>
                    <li><a href="{{ url_for('saran') }}">SARAN</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="wrapper">
        <!--Untuk Home-->
        <section id="Home">
            <img src="https://img.freepik.com/free-vector/prevent-epidemic-rebound-concept-illustration_114360-3008.jpg?size=626&ext=jpg&ga=GA1.2.24959556.1652747832" />
            <div class="kolom">
                <p><h2>CORBOT</h2></p>
                <p>Corbot (Corona Chatbot) merupakan sebuah chatbot dengan layanan obrolan robot/tokoh virtual dengan kecerdasan buatan atau AI (Artificial Intelligent) yang menirukan percakapan manusia melalui obrolan teks.</p>
                <p>Corona Chatbot ini bertujuan mempermudah user dalam mengetahui bagaimana perkembangan informasi dari virus COVID-19</p>
            </div>
        </section>

        <section id="Partners">
            <div class="tengah">
                <div class="kolom">
                    <p class="deskripsi">Data Visualisasi Covid 19 2020-2021</p>
                    <p><img src="..\static\images\tableau.png" /></p>
                </div>
            </div>
        </section>
    
        <!--Untuk Partners-->
        <section id="Partners">
            <div class="tengah">
                <div class="kolom">
                    <p class="deskripsi">KELAS ANAK AYAM</p>
                    <h3>ANGGOTA KELOMPOK</h3>
                </div>
            </div>
        </section>
        

                <div class="Partner-list">
                    <div class="Partner-up">
                        <center><img src="..\static\images\bangkit.jpg" />
                        <dt><h4>Bangkit Kharisma Raja</h4></dt>
                        <br><br><br>
                        <dd>Universitas Bina Sarana Informatika</dd>
                        <br>
                        <dt><h4>Pengolahan Dataset</h4></dt>
                        <br><br>
                        <dd>Dataset hingga Preprocessing data</dd></center>
                    </div>
                    
                    <div class="Partner-up">
                        <center><img src="..\static\images\ptri.jpg" />
                        <dt><h4>Nurhidayah Putri</h4></dt>
                        <br><br><br>
                        <dd>Universitas Muhammadiyah Riau</dd>
                        <br>
                        <dt><h4>Web & UI/UX</h4></dt>
                        <br><br>
                        <dd>Mengunakan Tag HTML dengan aplikasi Virtual Studio Code</dd></center>
                    </div>

                    <div class="Partner-up">
                        <center><img src="..\static\images\fadil.jpg" />
                        <dt><h4>Muhammad Fadhil Muttaqin</h4></dt>
                        <br><br><br>
                        <dd>Sekolah Tinggi Teknologi Bandung</dd>
                        <br>
                        <dt><h4>Pengolahan dan pembuatan laporan</h4></dt>
                        <br>
                        <dd>Mengelola dan membuat laporan dari hasil projek akhir yang dibuat</dd></center>
                    </div>

                    <div class="Partner-up">
                        <center><img src="..\static\images\ardi.jpg" />
                        <dt><h4>Muhamad Ardi Apriansyah</h4></dt>
                        <br><br><br>
                        <dd>Institut Informatika dan Bisnis Darmajaya</dd>
                        <br>
                        <dt><h4>Development</h4></dt>
                        <br><br>
                        <dd>Data training dan modeling</dd></center>
                    </div>
                    <div class="Partner-up">
                        <center><img src="..\static\images\fendi.jpg" />
                        <dt><h4>Fendi Elyon Ramadhan</h4></dt>
                        <br><br><br>
                        <dd>Amikom Purwokerto</dd>
                        <br><br>
                        <dt><h4>Editor</h4></dt>
                        <br><br>
                        <dd>Logo dan pengeditan video presentasi kelompok</dd></center>
                    </div>
                
                </div>
            </div>
        </section>
    </div>

    <div id="Contact">
        <div class="wrapper">
            <div class="footer">
                <div class="footer-section">
                    <h3>Corbot.</h3>
                    <p>Website yang memudahkan masyarakat untuk mencari informasi terkait COVID-19</p>
                </div>
                <div class="footer-section">
                    <h3>About</h3>
                    <p>Website ini dibuat pada tahun 2022 dan kerjakan team dengan tugasnya masing-masing </p>
                </div>
            </div>
        </div>
    </div>

    <div id="copyright">
        <div class="wrapper">
            &copy; 2022, <b>Corbot</b> All Rights Reserved.
        </div>
    </div>
</body>

</html>