<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Corbot</title>
        <link rel="stylesheet" href="..\static\styles\web_style.css">
    </head>
    <body>
        <nav>
            <div class="wrapper">
                <div class="logo">
                    <a href="{{ url_for('home') }}"><img src ="..\static\images\logo.png"></a></div>
                <div class="menu">
                    <ul>
                    <li><a href="{{ url_for('home') }}">HOME</a></li>
                    <li><a href="{{ url_for('chatbot') }}">CHATBOT</a></li>
                    <li><a href="{{ url_for('saran') }}">SARAN</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    <div>
 <!--Untuk Saran-->
 <section id="Saran">
    <div class="tengah">
        <div class="kolom">
        </div>

        <div class="Saran-list">
            <div class="Saran-up">
                <img src="https://img.freepik.com/free-vector/businessman-get-idea_1133-350.jpg?size=338&ext=jpg&ga=GA1.2.24959556.1652747832" />
                <p>Saran taruh disini</p>
                <p><a href="https://forms.gle/fzXWyPrWkrpr9rsn6" class="tbl-biru">Saran</a></p>
            </div>
        </div>
    </div>
</section>
    </div>
    
</body>
</html>